<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="col-md-12 d-flex flex-column">
        <h3 class="text-center m-4">DM一覧</h3>
        <% current_user.rooms.each do |room| %>
          <% room.user_rooms.each do |user_room| %>
            <% if user_room.user.id != current_user.id %>
              <%= link_to chat_path(user_room.user.id), class: "text-light" do %>
              <%= user_room.user.name %>
              さんとのDM
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>