<h2>プロフィール</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "unnamed.jpg" %>
<p>名前</p>
<%= @user.name %>
<p>自己紹介</p>
<%= @user.introduction %>
<% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
<% end %>