<div class="container">
    <div class="row justify-content-center align-items-center main-container">
      <div class="col-md-6">
        <div class="row justify-content-center text-center m-5">
            <h1>ようこそGamersへ</h1>
        </div>
        <div class="row justify-content-center text-center m-5">
            <h3>
              Gamersは気軽にゲームフレンドを<br>
              探すことのできるサイトです
            </h3>
        </div>
        <div class="row justify-content-center text-center mt-5 mb-5">
          <%= link_to "ゲームフレンドを探す", genres_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
