// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width:415px;
  height:430px;
  margin-bottom: 20px;
  padding: 20px;
}

.scrolly{
  overflow:hidden;
  overflow-y:scroll;
}

.message-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
span.message {
  padding: 10px;
  border-radius: 14px;
}
.right-msg, .left-msg {
  position: relative;
}
.right-msg > time {
  position: absolute;
  font-size: 0.7em;
  color: #495057;
  bottom: -10px;
  left: -42px;
}
.left-msg > time {
  position: absolute;
  font-size: 0.7em;
  color: #495057;
  bottom: 0px;
  right: -50px;
}

.text-box {
  width: 340px;
}

@media screen and (max-width: 425px) {
  .box {
    width:315px;
  }
  .text-box {
    width: 250px;
  }
  .span.message {
    padding: 6px;
  }
}

