// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width:415px;
  height:430px;
  margin-bottom: 20px;
}

.scrolly{
  overflow:hidden;
  overflow-y:scroll;
}